body{
    background-color: beige;
}
h1{
    font-size: 100px;
   margin-left: 10px;
   margin-bottom: 10px;
   text-align: center;
   font-family:inherit ;
}
small{
    
    font-size: 20px;
    font-family: cursive;
}
h2{
    font-size: 80px;
    text-align: center;
    font-family: cursive;
}
footer{
    margin-top: 250px;
}
@media (max-width : 600px){
    body{
        background-color: beige;
    }
    h1{
        font-size: 80px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 60px;
        color: black;
    }
    h2{
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        color: black;
        
    }
    small{
        text-align: center;
        color: rgb(14, 14, 13);
    }
    footer{
        margin-top: 10px;
    }

}